<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<div class="pt-3">
  <p class="display-5">This is a simple <strong class="md-text-wrap"> User Management System.</strong></p>
  <p class="fs-5 pt-2">Welcome to our User Management System, a robust web application designed to streamline user registration, authentication, and profile management. This project is built using a powerful technology stack that includes <strong>Node.js</strong>, <strong>Express.js</strong>, <strong>MongoDB</strong>, and <strong>EJS</strong>.</p>
</div>

<div class="d-flex flex-column flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
  <h2 class="h3 pt-2">About Me</h2>
  <img src="https://avatars.githubusercontent.com/u/148181280?v=4" alt="jagathvm" width="300" class="pt-2 img-fluid rounded-circle float-start">
  <p class="pt-2">Check out my <a href="https://github.com/jagathvm">GitHub Profile.!</a> </p>
</div>
