<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin SignIn</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="wrapper sign-in">
        <!-- Sign In -->
        <div class="form-wrapper sign-in">
            <form id="formSignIn" action="" method="post">
                <h2>ADMIN Sign In</h2>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="remember">
                    <label for="checkbox_id">
                        <input type="checkbox" name="checkbox" id="checkbox_id" value="value" required>
                        Remember Me
                    </label>
                </div>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>

    <script src="/scripts/admin/adminSignIn.js"></script>
</body>

</html>