<!-- Checking if there are users to paginate -->
<% if (users.length> 0 ) { %>

    <!-- Start of Pagination Navigation -->
    <nav aria-label="Dashboard Pagination">
        <ul class="pagination justify-content-center mt-4">

            <!-- First Page Link -->
            <% if (current==1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        First
                    </a>
                </li>
                <% } else { %>
                    <li class="page-item">
                        <a href="/?page=1" class="page-link">
                            First
                        </a>
                    </li>
                    <% } %>

                        <!-- Calculate Starting Page for Pagination -->
                        <% let i=(Number(current)>5 ? Number(current) - 4 : 1) %>

                            <!-- Ellipsis for Skipped Pages -->
                            <% if (i !==1) { %>
                                <li class="page-item disabled">
                                    <a href="#" class="page-link">...</a>
                                </li>
                                <% } %>

                                    <!-- Pagination Buttons -->
                                    <% for(; i <=(Number(current) + 4) && i <=pages; i++ ) { %>

                                        <!-- Highlight Current Page Button -->
                                        <% if (i==current) { %>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } else { %>
                                                <!-- Pagination Button for Non-Current Pages -->
                                                <li class="page-item">
                                                    <a href="/?page=<%= i %>" class="page-link">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% if (i==(Number(current) + 4) && i < pages) { %>
                                                        <li class="page-item disabled"><a href="#"
                                                                class="page-link">...</a></li>
                                                        <% } %>
                                                            <% } %>

                                                                <!-- Last Page Link -->
                                                                <% if (current==pages) { %>
                                                                    <li class="page-item disabled"><a href="#"
                                                                            class="page-link">Last</a></li>
                                                                    <% } else { %>
                                                                        <li class="page-item">
                                                                            <a href="/?page=<%= pages %>"
                                                                                class="page-link">
                                                                                Last
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
        </ul>
    </nav>
    <% } %>