<div class="container">
  <header class="d-flex justify-content-center py-4 fixed-top">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/api/user/home" class="nav-link <%= req.path === '/home' ? 'active' : '' %>" aria-current="page">Home</a></li>
      <% if (roleId === 1) { %>
      <li class="nav-item"><a href="/api/admin/dashboard?page=1" class="nav-link">Dashboard</a></li>
      <% } %>
      <li class="nav-item"><a href="/api/user/about" class="nav-link <%= req.path === '/about' ? 'active' : '' %>">About</a></li>
      <li class="nav-item"><a href="/api/user/logout" class="nav-link">Logout</a></li>
    </ul>
  </header>
</div>
